:root {
  --nav-background-color: steelblue; /* back ground color for header and footer */
  --game-name-background-color: darkgreen;
  --seriesBar-background-color: grey;
  --main-background-color: darkgrey;
}

/*#region first grid: body grid alignment + background color of 5 mian sections */
body {
  display: grid;
  grid-template-columns: 1fr 2fr; /* aside:main = 1:2 */
  grid-template-rows: 1fr 0.8fr minmax(30vh, auto) minmax(20vh,auto);
}

#header {
  grid-column: 1 /-1;
  grid-row: 1/2;
  background-color: var(--nav-background-color);
}

#GameNameBand {
  text-align: center;
  grid-column: 1 /-1;
  grid-row: 2/3;
  background-color: var(--game-name-background-color);
}

#seriesBar {
  grid-column: 1 /2;
  grid-row: 3/-2;
  background-color: var(--seriesBar-background-color);
}

main {
  grid-column: 2 /-1;
  grid-row: 3/-2;
  background-color: var(--main-background-color);
}

footer {
  grid-column: 1 /-1;
  grid-row: -2/-1;
  background-color: var(--nav-background-color);
}
/*#endregion header grid*/
header {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

#dropDownNav {
  background: yellow; /*debug purpose*/
  display: inline-block;
  grid-column: 1 /2;
}

#logo {
  background: brown; /*debug purpose*/
  display: inline-block;
  grid-column: 2 /-2;
}

#empty {
  display: inline-block;
  grid-column: -2 /-1;
}
/* #region  */
